@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #020d0a;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

#root {
  width: 393px;
  min-height: 100vh;
}
